<mat-accordion>
  <mat-expansion-panel [(expanded)]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Event totals
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-content">
      <mat-form-field>
        <mat-label>General admission</mat-label>
        <input matInput type="number" [(ngModel)]="totalGeneralAdmission" min="1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Over 21</mat-label>
        <input matInput type="number" [(ngModel)]="totalOver21" min="1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput disabled [ngModel]="totalGeneralAdmission+totalOver21">
      </mat-form-field>
    </div>
    <mat-action-row>
      <app-raised-button [label]="'Save'" icon="'save'" [color]="'primary'" (btnClickedEvent)="submitForm()"/>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
